In [1]:
import pandas as pd
import numpy as np
import random as rnd
from sklearn.preprocessing import MinMaxScaler
from mlxtend.preprocessing import TransactionEncoder

#The dataset
data = pd.read_excel(r"C:\Users\HP\Documents\edu\data mining\group work\DataMining_GroupProject_EcomAnalytics\data\raw\sales_and_customer_insights_dirty.xlsx")
print(data.head())

# View basic info
print("\nðŸ”¹ Dataset Info:")
print(data.info())

print("\nðŸ”¹ First 5 Rows:")
print(data.head())

print("\nðŸ”¹ Missing Values Count:")
print(data.isnull().sum())

print("\nðŸ”¹ Duplicate Rows:", data.duplicated().sum())

print("\nðŸ”¹ Summary Statistics:")
print(data.describe(include='all'))

# --- Step 3: Check for negative or zero quantities and prices ---
negative_qty = data[data['Quantity'] <= 0]
negative_price = data[data['UnitPrice'] <= 0]

print(f"\nðŸ”¹ Rows with non-positive quantities: {len(negative_qty)}")
print(f"ðŸ”¹ Rows with non-positive unit prices: {len(negative_price)}")

# --- Step 4: Check country name inconsistencies ---
print("\nðŸ”¹ Unique countries:\n", data['Country'].unique())

# --- Step 5: Quick check for outliers using describe() ---
print("\nðŸ”¹ Summary statistics for numeric columns:\n", data.describe())

  InvoiceNo StockCode                          Description  Quantity  \
0    536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER       6.0
1    536365     71053                  WHITE METAL LANTERN       6.0
2       NaN    84406B       CREAM CUPID HEARTS COAT HANGER       8.0
3    536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE       6.0
4    536365    84029E       RED WOOLLY HOTTIE WHITE HEART.       6.0

          InvoiceDate  UnitPrice  CustomerID         Country
0 2010-12-01 08:26:00       2.55     17850.0  United Kingdom
1 2010-12-01 08:26:00       3.39     17850.0             NaN
2 2010-12-01 08:26:00       2.75     17850.0  United Kingdom
3 2010-12-01 08:26:00       3.39     17850.0  United Kingdom
4 2010-12-01 08:26:00       3.39     17850.0  United Kingdom

ðŸ”¹ Dataset Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 547328 entries, 0 to 547327
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    536391 non-null  object
 1   StockCode    536376 non-null  object
 2   Description  534937 non-null  object
 3   Quantity     536375 non-null  float64
 4   InvoiceDate  536369 non-null  datetime64[ns]
 5   UnitPrice    536384 non-null  float64
 6   CustomerID   402617 non-null  float64
 7   Country      536361 non-null  object
dtypes: datetime64[ns](1), float64(3), object(4)
memory usage: 33.4+ MB
None

ðŸ”¹ First 5 Rows:
  InvoiceNo StockCode                          Description  Quantity  \
0    536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER       6.0
1    536365     71053                  WHITE METAL LANTERN       6.0
2       NaN    84406B       CREAM CUPID HEARTS COAT HANGER       8.0
3    536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE       6.0
4    536365    84029E       RED WOOLLY HOTTIE WHITE HEART.       6.0

          InvoiceDate  UnitPrice  CustomerID         Country
0 2010-12-01 08:26:00       2.55     17850.0  United Kingdom
1 2010-12-01 08:26:00       3.39     17850.0             NaN
2 2010-12-01 08:26:00       2.75     17850.0  United Kingdom
3 2010-12-01 08:26:00       3.39     17850.0  United Kingdom
4 2010-12-01 08:26:00       3.39     17850.0  United Kingdom

ðŸ”¹ Missing Values Count:
InvoiceNo       10937
StockCode       10952
Description     12391
Quantity        10953
InvoiceDate     10959
UnitPrice       10944
CustomerID     144711
Country         10967
dtype: int64

ðŸ”¹ Duplicate Rows: 8411

ðŸ”¹ Summary Statistics:
        InvoiceNo StockCode                         Description  \
count    536391.0    536376                              534937
unique    25780.0      4065                                4217
top      573585.0    85123A  WHITE HANGING HEART T-LIGHT HOLDER
freq       1102.0      2300                                2342
mean          NaN       NaN                                 NaN
min           NaN       NaN                                 NaN
25%           NaN       NaN                                 NaN
50%           NaN       NaN                                 NaN
75%           NaN       NaN                                 NaN
max           NaN       NaN                                 NaN
std           NaN       NaN                                 NaN

             Quantity                    InvoiceDate      UnitPrice  \
count   536375.000000                         536369  536384.000000
unique            NaN                            NaN            NaN
top               NaN                            NaN            NaN
freq              NaN                            NaN            NaN
mean        10.456315  2011-07-04 12:53:19.513432320       5.055011
min     -80995.000000            2010-12-01 00:00:00  -11062.060000
25%          1.000000            2011-03-28 11:34:00       1.250000
50%          3.000000            2011-07-19 17:17:00       2.100000
75%         10.000000            2011-10-19 10:59:00       4.130000
max      80995.000000            2011-12-09 12:50:00   39493.200000
std        222.298340                            NaN     111.099572

           CustomerID         Country
count   402617.000000          536361
unique            NaN              38
top               NaN  United Kingdom
freq              NaN          490439
mean     15287.389387             NaN
min      12346.000000             NaN
25%      13952.000000             NaN
50%      15152.000000             NaN
75%      16791.000000             NaN
max      18287.000000             NaN
std       1713.776500             NaN

ðŸ”¹ Rows with non-positive quantities: 10490
ðŸ”¹ Rows with non-positive unit prices: 2499

ðŸ”¹ Unique countries:
 ['United Kingdom' nan 'France' 'Australia' 'Netherlands' 'Germany'
 'Norway' 'EIRE' 'Switzerland' 'Spain' 'Poland' 'Portugal' 'Italy'
 'Belgium' 'Lithuania' 'Japan' 'Iceland' 'Channel Islands' 'Denmark'
 'Cyprus' 'Sweden' 'Austria' 'Israel' 'Finland' 'Bahrain' 'Greece'
 'Hong Kong' 'Singapore' 'Lebanon' 'United Arab Emirates' 'Saudi Arabia'
 'Czech Republic' 'Canada' 'Unspecified' 'Brazil' 'USA'
 'European Community' 'Malta' 'RSA']

ðŸ”¹ Summary statistics for numeric columns:
             Quantity                    InvoiceDate      UnitPrice  \
count  536375.000000                         536369  536384.000000
mean       10.456315  2011-07-04 12:53:19.513432320       5.055011
min    -80995.000000            2010-12-01 00:00:00  -11062.060000
25%         1.000000            2011-03-28 11:34:00       1.250000
50%         3.000000            2011-07-19 17:17:00       2.100000
75%        10.000000            2011-10-19 10:59:00       4.130000
max     80995.000000            2011-12-09 12:50:00   39493.200000
std       222.298340                            NaN     111.099572

          CustomerID
count  402617.000000
mean    15287.389387
min     12346.000000
25%     13952.000000
50%     15152.000000
75%     16791.000000
max     18287.000000
std      1713.776500

In [3]:
# Preparation of data for mining 
# i. Scaling (Normalization)
# confirm nin and max for quantity and unit price
print('Max quantity vals: ', max(data['Quantity']), 'min quantity vals: ', min(data['Quantity']),'\n')
print('Max quantity vals: ', max(data['UnitPrice']), 'min quantity vals: ', min(data['UnitPrice']))
# create scaler
scaler= MinMaxScaler(feature_range=(0,1))
scaled_quantity= scaler.fit_transform(data[['Quantity']])
scaled_UnitPrice= scaler.fit_transform(data[['UnitPrice']])

# Add back to dataset
data["scaled_Q"]= scaled_quantity
data["scaled_UP"]= scaled_UnitPrice

# confirmation
data.head()

# ii. one hot encoding
# convert data into a one hot encoded dataframe
te = TransactionEncoder()
te_data = te.fit(data['Description']).transform(data['Description'])
df= pd.DataFrame(te_data,columns=te.columns_)

Max quantity vals:  80995.0 min quantity vals:  -80995.0

Max quantity vals:  39493.2 min quantity vals:  -11062.06

TypeError: 'float' object is not iterable